---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">Some more about us</h1>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          {SITE.TITLE} CyberX is a collective of CyberSecurity geeks who loves to explore everything related to Capture The Flag competitions. We crack challenges, share knowledge, and prove that the best hackers are the ones who do it for the thrill of learning.
        </p>

        <p class="prose prose-neutral mb-8 dark:prose-invert">While our core members come from SECJ and SECR programs, we welcome curious minds from all backgrounds because we know great hackers can emerge from anywhere - whether you're studying medicine, art, or still figuring out that HTML isn't a heavy metal band.</p>
      </div>
    </section>
  </Container>
</Layout>
